#newRecipe .inside-div {
    margin: 15px;
    padding: 10px;
    word-break: break-all;
    background-color: #FFFFFF;
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    height: 100% !important;
    min-height: 50px;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-border-top: 4px !important;
    -moz-border-top: 4px !important;
    border-top: 4px !important;
    -webkit-border-bottom: 4px !important;
    -moz-border-bottom: 4px !important;
    border-bottom: 4px !important;
}

#newRecipe .tag-div, .recipeTag {
    padding: 4px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 1%;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-border-top: 4px !important;
    -moz-border-top: 4px !important;
    border-top: 4px !important;
    -webkit-border-bottom: 4px !important;
    -moz-border-bottom: 4px !important;
    border-bottom: 4px !important;
}