<header>
    <figure class="widePic" ng-controller="SearchCtrl">
        <section class="searchSection" >
            <h2> FIND YOUR NEXT MEAL ! </h2>
            <form name="search-moment-form" action="/tools/searchresults" method="get">
                <fieldset>
                    <div class="container">
                        <input type="text" name="search">
                        <button type="submit">
                            <div class="fa fa-search"></div>
                        </button>
                    </div>
                </fieldset>
            </form>
        </section>
        <section class="mostSection">
            <div class="btn-group" role="group">
                <button type="button" class="btn"> MOST RECENT </button>
                <button type="button" class="btn"> MOST POPULAR </button>
            </div>
        </section>
    </figure>
</header>

<div class="body-container" ng-controller="HomeCtrl">

    <div class="article-container col-md-12">


        <div class="col-md-3" ng-repeat="recipe in recipes">
            <article>
                <figure>
                    <img ng-src="{{recipe.picURL}}" alt="{{recipe.name}}">
                </figure>
                <section>
                    <div class="article-title">
                        <a href="#/recipe/{{recipe.id}}">
                            {{recipe.name}}
                        </a>
                    </div>
                    <hr />
                    <div class="article-tags">
                        {{recipe.tags}}
                    </div>
                    <div class="article-description">
                        {{recipe.description}}
                    </div>
                </section>
            </article>
        </div>

    </div>

</div>