<div>
    watching model:
    <div class="button" ngf-select ng-model="file">Upload using model $watch</div>
    <div class="button" ngf-select ng-model="files" ngf-multiple="true">Upload multiple using model $watch</div>
    <div class="button" ngf-select ngf-change="upload($file)">Upload on file change</div>
    <div class="button" ngf-select ngf-change="upload($files)" ngf-multiple="true">Upload multiple on file change</div>
    Drop File:
    <div ngf-drop ng-model="files" class="drop-box"
         ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
         ngf-accept="'image/*,application/pdf'">Drop Images or PDFs files here</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    Image thumbnail: <img ngf-src="file"  ngf-accept="'image/*'">
    Audio preview: <audio controls ngf-src="file" ngf-accept="'audio/*'"></audio>
    Video preview: <video controls ngf-src="file" ngf-accept="'video/*'"></video>
</div>